@use './styles/index';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--surface);
  color: var(--on-surface);
  //   font-family: 'EB Garamond', serif;
  font-family: system-ui, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
